.timeline-event {
  display: grid;
  grid-template: 2rem auto 2rem / 1fr 1fr 1fr;
  padding: 0.5rem;
  border-bottom: 1px solid #E6ECF0;
  background-color: #FFF;
}

.timeline-event:hover {
  background-color: #F5F8FA;
}

.event-person {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.event-status {
  grid-area: 2 / 2 / span 1 / span 2;
  font-weight: normal;
  word-break: break-word;
}

.event-time {
  grid-area: 1 / 3 / span 1 / span 1;
  margin-top: 0.5rem;
  text-align: right;
}

.event-image {
  grid-area: 1 / 1 / span 3 / span 1;
  max-width: 100px;
  align-self: start;
  justify-self: center;
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

