
.timeline-event {
  display: grid;
  grid-template: 2rem auto 2rem / 1fr 1fr;
  padding: 0.9rem;
  border-bottom: 1px solid #E6ECF0;
  background-color: #FFF;
}

.timeline-event:hover {
  background-color: #F5F8FA;
}

.event-person {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.event-status {
  grid-area: 2 / 1 / span 1 / -1;
  text-align: left;
  word-wrap: break-word;
}


.event-time {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 0.5rem;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}