.TimelineEvent {
  display: grid;
  grid-template: 2rem auto 2rem / 1fr 1fr;
  padding: 0.5rem;
  border-bottom: 1px solid #E6ECF0;
  background-color: #FFF;
}

.TimelineEvent:hover {
  background-color: #F5F8FA;
}

.TimelineEvent h2 {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.TimelineEvent p {
  grid-area: 2 / 1 / span 1 / -1;
}

.TimelineEvent footer {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 0.5rem;
  text-align: right;
}
