@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vast+Shadow&display=swap');

.timeline {
  width: 70%;
  margin: auto;
  text-align: left;
  font-family: "Bebas Neue", cursive;
  list-style-type: none
}
