.timeline-event {
  display: grid;
  grid-template: 2rem auto 2rem / 1fr 1fr 1fr;
  padding: 0.5rem;
  border-bottom: 1px solid #E6ECF0;
  background-color: #FFF;
}

.timeline-event:hover {
  background-color: #F5F8FA;
}

.event-person {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.event-status {
  grid-area: 2 / 2 / span 1 / span 2;
  font-weight: normal;
  word-break: break-word;
}

.event-time {
  grid-area: 1 / 3 / span 1 / span 1;
  margin-top: 0.5rem;
  text-align: right;
}

.event-image {
  grid-area: 1 / 1 / span 3 / span 1;
  max-width: 100px;
  align-self: start;
  justify-self: center;
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* modified from https://codepen.io/emilandersson/pen/rWwvwq */
.like-button {
  grid-area: 3 / 3 / span 1 / span 1;
  text-align: center;  
  place-self: end;
  width: 75px;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 10px;
  font-size: 13px;
  font-family: monospace;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}


.like-button:hover {
  transform: translateY(-3px);
}