.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  height: 30vh;
  /* padding: 5px; */
}

.App-header img {
  height: 30vh;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  padding-top: 7rem;
  background-color: #E6ECF0;
}

