.App-header {
  background-color: #62d9c3;
  padding-bottom: 0.5rem;
  color:#262223;
  position: fixed;
  width: 100%;
}

.App-title {
  text-align: center;
  padding: 2.0rem;
  font-size: 1.9em;
}

.App-main {
  padding-top: 9rem;
  background-color:#62d9c3;
}
