.App-header {
  background-color: #283845;
  padding: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  color: #202C39;
  padding-top: 4.7rem;
  background-color: #F2D492;
}
