.App-header {
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  background-image: url(./appImages/pink-stars-background.jpg)
}

.App-title {
  text-align: center;
  font-size: 2em;
  font-family: papyrus;
  color: rgb(102, 4, 79)
}

.App-main {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: pink;
}


/* know they should probably be in another css file but i'm lazy */
.Timeline-name {
  font-family: papyrus;
  color: white;
  font-size: 30px;
}

.Timeline-status {
  font-size: 24px;
  padding-left: 50px;
  color: rgb(69, 67, 67);
  font-family: 'Times New Roman', Times, serif;
}

.Timeline-timestamp {
  color: gray;
  font-size: 10px;
  padding-left: 800px;
}
